@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  color-scheme: light dark;
}

body {
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
